<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My tools</h2>

      <p>Updated on: {{ lastUpdate | async | date: 'y MMMM EEEE d' | uppercase }} </p>
      <ul class="list-group">
        <app-tool 
        *ngFor="let tool of tools" 
        [toolName]="tool.name"
        [toolStatus]="tool.status"
        ></app-tool>
      </ul>
      <button class="btn btn-success" 
      [disabled]="!isAuth"
      (click)="onSwitchOn()"
      >Switch on all tools</button>
    </div>
  </div>
</div>